/* 
background-img:url("---url---")
background-repeat:no-repeat;
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", sans-serif;
    font-size: 1.2rem;

 }
 body,html{
    height: 100%;
 }

 .nav-container{
    background-color: black;
    color: white;
    display: flex;
    font-size: 0.2 rem;
    padding: 10px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: +1;
 }

 .nav-item{
    width: 300px;
    text-align: center;
    font-family: "Inconsolata", sans-serif;
    padding: 10px;
    transition: all 0.5s ease;
 }

 .nav-container>.nav-item:hover{
   color: black;
   background-color: antiquewhite;
   cursor: pointer;
 }

 .bg-container{
   height: 75%;
   /* border: 2px solid; */
   background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   filter: grayscale(50%);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;

 }

 .bg-container>.text-container{
   font-size: 6rem;
   color: white;
   line-height: 150px;
 }

 .text-container2{
   position: absolute;
   bottom: 10px;
   left: 10px;
   background-color: black;
   color: white;
   padding: 5px;
 }

  .text-container3{
   position: absolute;
   bottom: 10px;
   right: 10px;
   color: white;
   padding: 5px;
 }

 .main-container{
   display: flex;
   /* border: 1px solid; */
   justify-content: center;
 }
.main{
   width: 50%;
   /* border: 2px solid; */
   /* height: 4500px; */
}

.about-container{
   display: flex;
   justify-content: center;
}
.about-container>p{
   padding: 6px;
   background-color: black;
   color: white;
   letter-spacing: 4px;
   margin: 60px 0px;
   font-size: 1.5rem;
   font-weight: 400;
}

.para-container>p{
   line-height: 20px;
   text-align: justify;
   margin: 20px 0px;
}

.para-container2>p{
   line-height: 20px;
   text-align: justify;
   margin: 20px 0px;
}

.owner-container{
   border-left-color: rgb(175, 170, 170);
   border-left-width: 5px;
   border-left-style: solid;
   background-color:whitesmoke;
   padding: 30px;
   margin:0px 0px 30px 0px ;
}

.owner-container>p{
   margin: 20px 0px;
}

.image-container>img{
   width: 100%;
   filter: grayscale(50%);
   margin: 20px 0px;
}

.hours-container>p{
   margin: 20px 0px;
}

.label-container{
   display: flex;
   justify-content: space-around;
}
.label-container>label{
   width: 300px;
   display: inline-block;
   /* background-color: aquamarine; */
   text-align: center;
   padding: 10px;
}

.label-container>label:hover{
   background-color: cadetblue;
   cursor: pointer;
}
.menu-container{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eat-container,.drink-container{
   padding: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   display: none;
}

.eat-container>div,.drink-container>div{
   line-height: 40px;
   padding: 20px;
}

#eat:checked~.eat-container{
   display: block;
}

#drink:checked~.drink-container{
   display: block;
}

#eat,#drink{
   display: none;
}

.image-container2{
   margin: 20px 0px;
}
.image-container2>img{
   width: 100%;
   filter: grayscale(50%);
}
.image-container3{
   margin: 20px 0px;
}
.image-container3>img{
   width: 100%;
   filter: grayscale(50%);
}
.fly-container{
   text-align: justify;
}
span{
   background-color: black;
   color: white;
}

.reserve-container{
   margin: 20px 0px;
}
.form-container>input{
   width: 100%;
   padding: 10px;
   margin: 10px 0px;
}

.form-container>div>input{
   padding: 10px;
   /* width: 150px; */
   border: 0px solid;
   background-color: black;
   color: white;
   letter-spacing: 5px;
   margin: 10px 0px;
}
.form-container>div>input:hover{
   background-color: darkgrey;
   color: black;

}
.footer{
   background-color:rgb(238, 226, 212) ;
   padding: 100px;
   text-align: center;
}
